/* components */
@import "components/header.css";
@import "components/music.css";
@import "components/ctrl-btn.css";

html {
    width: 100%;
    height: 100%;
    border: 5px solid #00c6ad;
    padding: 30px 20px;
    position: relative;
    z-index: 1;
}

html::after {
    width: 100%;
    height: 100%;
    content: "";
    background: url("https://www.allkpop.com/upload/2022/09/content/200841/1663677668-20220920-203721.jpg");
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}